:root {
  --grid-item: 3;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 479px) {
  .container {
    width: 479px;
    margin: 0 auto;
  }
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header {
    height: 80px;
  }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .header {
    width: 480px;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__mail {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__phone {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  margin-left: 50px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts--position {
  display: flex;
  margin-left: 331px;
  margin-right: 215px;
  padding: 32px 0;
}

@media screen and (max-width: 767.98px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-contacts {
    margin-left: 84px;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-contacts__phone {
    margin-left: 0;
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-contacts__mail {
    font-size: 12px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: 331px;
    margin-right: 215px;
    padding: 32px 0;
  }
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  display: flex;
  align-items: center;
  margin-right: 93px;
}

.logo__web-logo {
  color: #2196f3;
}

@media screen and (min-width: 0px) and (max-width: 767.98px) {
  .logo {
    font-size: 24px;
    line-height: 1.1;
    margin-right: 276px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .logo {
    margin-right: 88px;
  }
}

.banner {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.mobile.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.desktop@2x.jpg);
  }
}

.banner--position {
  padding-top: 200px;
  padding-bottom: 200px;
}

@media screen and (min-width: 480px) {
  .banner {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .banner {
    height: 400px;
  }
  .banner--position {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (max-width: 479px) {
  .banner {
    width: 480px;
    margin: 0 auto;
  }
}

.banner__button {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.banner__heading {
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .banner__heading {
    font-size: 26px;
    width: 360px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 768px) {
  .banner__heading {
    font-size: 26px;
    width: 360px;
    line-height: 1.61;
  }
}

@media screen and (min-width: 1200px) {
  .banner__heading {
    font-size: 44px;
    width: 696px;
    line-height: 1.36;
  }
}

.our-qualities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-qualities-list__item {
  list-style: none;
  --grid-item: 1;
  height: 251px;
}

.our-qualities-list__heading {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.qualities-icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
}

.our-qualities__description {
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .our-qualities-list__item {
    --grid-item: 1;
  }
}

@media screen and (min-width: 768px) {
  .our-qualities-list__item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .our-qualities-list__item {
    --grid-item: 4;
  }
}

@media screen and (max-width: 1200px) {
  .our-qualities {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767.98px) {
  .our-qualities-list__item {
    height: 226px;
  }
  .our-qualities-list__heading {
    text-align: center;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.our-work-section--position {
  padding-bottom: 94px;
}

.our-work-section__heading {
  margin-bottom: 50px;
  margin-top: 0px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

.our-work-section__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-work-section {
  display: none;
}

@media screen and (min-width: 480px) {
  .our-work-section {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .our-work-section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .our-work-section {
    display: block;
  }
}

.our-work-section-list__item {
  position: relative;
  list-style: none;
}

.our-work-section-list-item__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.our-work-section-list-item__description > h3 {
  font-size: 14px;
  line-height: 1.1;
  color: #ffffff;
}

.our-qualities-icon-list {
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.our-qualities-icon-list__item {
  list-style: none;
}

.our-team__icon-list--position {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 16px;
}

.our-team__social-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__icon-link:hover, .our-team__icon-link:focus {
  background-color: #2196f3;
  border-radius: 50%;
}

.our-team__icon-link:hover .our-team__social-icon,
.our-team__icon-link:focus .our-team__social-icon {
  fill: #ffffff;
}

.our-team__icon-item {
  list-style: none;
}

.our-team__icon-item:not(:last-child) {
  padding-right: 10px;
}

.our-team-section {
  background: #f5f4fa;
}

.our-team-section--position {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-team-section__heading {
  margin-bottom: 50px;
  margin-top: 0px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 1200px) {
  .our-team-section--position {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .our-team-section {
    width: 480px;
  }
}

@media screen and (max-width: 767.98px) {
  .our-team-section__heading {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.15;
  }
}

.our-team__list-item {
  --grid-item: 1;
  list-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 480px) {
  .our-team__list-item {
    --grid-item: 1;
  }
}

@media screen and (min-width: 768px) {
  .our-team__list-item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list-item {
    --grid-item: 4;
  }
}

.navigation {
  display: flex;
}

.navigation-list--position {
  display: flex;
  padding-left: 0px;
  align-items: center;
}

.navigation-list__item {
  position: relative;
  list-style: none;
  margin-right: 50px;
}

.navigation-list__item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767.98px) {
  .navigation-list {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .navigation {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .navigation-list {
    height: 48px;
  }
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center;
}

.our-team__description {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__duty {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hover-focus:hover,
.hover-focus:focus {
  color: #2196f3;
}

.button-styles {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background: #2196f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.87;
  border-radius: 4px;
}

.button-styles:hover,
.button-styles:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.navigation__links {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #2196f3;
}

.current::after {
  content: '';
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  pointer-events: none;
}

.modal__icons-hover:hover {
  fill: #2196f3;
}

.modal__inputs--styles:hover {
  border-color: #2196f3;
}

.our-clients {
  margin-top: 94px;
  margin-bottom: 94px;
  text-align: center;
  color: #212121;
}

.our-clients-list {
  display: flex;
}

.our-clients__heading {
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .our-clients {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767.98px) {
  .our-clients__heading {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.15;
  }
}

.clients-list__item {
  list-style: none;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  --grid-item: 2;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__item:hover, .clients-list__item:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .clients-list__item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    --grid-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    --grid-item: 6;
  }
}

.clients-list-item__logo {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.clients-list-item__logo-link:hover .clients-list-item__logo,
.clients-list-item__logo-link:focus .clients-list-item__logo {
  fill: #2196f3;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .footer {
    width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 479px) {
  .footer {
    width: 479px;
  }
}

.footer_information--position {
  display: flex;
  flex-direction: column;
  flex-basis: calc((50% - 45px) / 2);
}

.footer__address {
  color: #ffffff;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 9px;
}

.footer__exact-address {
  margin-bottom: 9px;
}

.footer__logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.logo__web-logo {
  color: #2196f3;
}

.footer__mail {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__phone {
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list-item {
  list-style: none;
}

.footer__list-item:first-child {
  margin-bottom: 9px;
}

.footer__list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 450px) and (max-width: 1199.98px) {
  .footer__logo {
    margin-right: auto;
    margin-left: auto;
  }
  .footer__list {
    padding-left: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__exact-address {
    white-space: nowrap;
  }
  .footer_information--position {
    margin-right: 165px;
  }
}

@media screen and (min-width: 0px) and (max-width: 449.98px) {
  .footer__logo {
    margin-right: auto;
    margin-left: auto;
  }
  .footer__list {
    padding-left: 40px;
  }
}

.footer__flex-box {
  display: flex;
  align-items: baseline;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .footer__flex-box {
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  }
  .footer__flex-box > .footer__information {
    padding-bottom: 60px;
  }
  .footer__flex-box > .social-icons-footer {
    padding-bottom: 60px;
    margin: 0;
    align-items: center;
  }
  .footer__flex-box > .follow-us {
    align-items: center;
    flex-basis: unset;
    width: 450px;
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 479.98px) {
  .footer__flex-box {
    flex-direction: column;
    align-items: center;
    align-content: space-between;
  }
  .footer__flex-box > .footer__information {
    padding-bottom: 60px;
  }
  .footer__flex-box > .social-icons-footer {
    padding-bottom: 60px;
    margin: 0;
    align-items: center;
  }
  .footer__flex-box > .follow-us {
    align-items: center;
    flex-basis: unset;
    width: 450px;
    margin: 0;
  }
}

.social-icons-footer--position {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  flex-basis: calc((50% - 45px) / 2);
}

.social-icons-footer__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-icons-footer__heading {
  font-size: 14px;
  line-height: 1.1;
  margin: 0;
  padding-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .social-icons-footer--position {
    margin-left: 0;
    margin-bottom: 102px;
  }
  .social-icons-footer__heading {
    text-align: center;
  }
}

.social-icons-footer-list__item {
  list-style: none;
}

.social-icons-footer-list__item:not(:last-child) {
  padding-right: 10px;
}

.social-icon-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer__link:hover, .social-icon-footer__link:focus {
  background-color: #2196f3;
}

.social-icon-footer__link .social-footer-icon {
  fill: #ffffff;
}

.follow-us__form {
  display: flex;
}

.follow-us__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 29px;
  margin-left: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-us__button-text {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.87;
}

.follow-us__heading {
  font-size: 14px;
  line-height: 1.1;
  margin: 0;
  padding-bottom: 20px;
  color: #ffffff;
}

.follow-us__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.follow-us__mailing {
  background-color: #2f303a;
  border-radius: 4px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.follow-us--position {
  display: flex;
  align-items: flex-start;
  flex-basis: calc(50% - 15px);
  flex-direction: column;
  margin-left: 93px;
}

@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .follow-us__form {
    display: block;
    width: 450px;
  }
  .follow-us__button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .follow-us__mailing {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .follow-us--position {
    margin-left: 0;
    align-items: center;
  }
}

@media screen and (max-width: 479.98px) {
  .follow-us__form {
    display: block;
    width: 450px;
  }
  .follow-us__button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .follow-us__mailing {
    width: 450px;
  }
}

.main-content__list {
  margin-top: 0px;
  margin-bottom: 50px;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.main-content__button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition-property: color background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-content__button:hover {
  color: #f5f4fa;
  background-color: #2196f3;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.64);
}

.main-content__button:focus {
  color: #f5f4fa;
  background-color: #2196f3;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.64);
}

.main-content__item {
  height: 38px;
  text-align: center;
  list-style: none;
}

.main-content__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .main-content__list {
    display: flex;
    height: 91px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 480px) {
  .main-content__item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 0px) and (max-width: 479.98px) {
  .main-content__list {
    display: flex;
    height: 91px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .main-content__list {
    margin-bottom: 0px;
  }
}

.main-content__gallery {
  list-style: none;
}

.main-content__gallery-item {
  --grid-item: 1;
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-content__gallery-item:hover, .main-content__gallery-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-content__gallery-item:hover .main-content__gallery-overlay {
  opacity: 1;
  bottom: 106.6px;
  height: 294px;
}

.main-content__gallery-link {
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
}

.main-content__image-border {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.main-content__image-description {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-content__name {
  color: #757575;
}

@media screen and (min-width: 480px) {
  .main-content__gallery-item {
    --grid-item: 1;
  }
}

@media screen and (min-width: 768px) {
  .main-content__gallery-item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .main-content__gallery-item {
    --grid-item: 3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .additional-padding {
    padding-bottom: 56px;
  }
}

.main-content {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .main-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.main-content__gallery-overlay {
  position: absolute;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
  opacity: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}

.is-hidden .modal {
  transform: translate(100%, -100%) scale(0.4);
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  transition: transform 700ms ease-in-out;
  padding: 40px 40px;
  padding-bottom: 0px;
}

.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  padding: 6px;
  cursor: pointer;
}

.modal__btn-close:hover {
  fill: #2196f3;
}

.is-hidden {
  transform: opacity 0.5;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  transition-timing-function: lineara;
}

.modal__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal__heading {
  color: #000000;
  font-size: 20px;
  line-height: 0.8;
  margin-bottom: 12px;
}

.inputs-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal__inputs--styles {
  width: 448px;
  height: 40px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
}

.modal__list-item {
  position: relative;
}

.modal__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.modal__icon-position {
  position: absolute;
  left: 12px;
  transform: translateY(50%);
}

.modal__form {
  display: flex;
  align-items: center;
}

.modal__textarea {
  width: 448px;
  height: 138px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
}

.modal__checkbox-block {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.modal__custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  display: inline-block;
}

.check__text {
  display: inline-block;
}

.modal__checkbox {
  position: absolute;
  display: block;
  border: 2px solid #212121;
  width: 16px;
  height: 15px;
  border-radius: 4px;
}

.modal__check {
  display: flex;
  align-items: center;
}

.check__icon-check {
  position: absolute;
  z-index: -1;
}

.check__input:checked + .modal__custom-checkbox .check__icon-check {
  z-index: 3;
}

.check__agreemnet-link {
  color: #2196f3;
}

.modal__button {
  border: none;
  padding: 10px 55px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-flex {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  .modal {
    width: 450px;
  }
  .modal__inputs--styles {
    width: 370px;
  }
  .modal__textarea {
    width: 370px;
    height: 120px;
  }
  .check__text {
    font-size: 12px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 0px) and (max-width: 1199.78px) {
  .modal__heading {
    text-align: center;
  }
}

.mobile-menu-button {
  border: none;
  background: transparent;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 105;
  top: 10px;
  bottom: 10px;
}

.mobile-menu-button.is-open .icon-mobile-menu-close {
  opacity: 1;
  pointer-events: initial;
}

.mobile-menu-button.is-open .icon-mobile-menu {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu-button:focus .icon-mobile-menu {
  fill: #2196f3;
}

.mobile-menu-button:hover .icon-mobile-menu {
  fill: #2196f3;
}

.mobile-menu-button:focus .icon-mobile-menu-close {
  fill: #2196f3;
}

.mobile-menu-button:hover .icon-mobile-menu-close {
  fill: #2196f3;
}

.icon-mobile-menu-close {
  opacity: 0;
  pointer-events: none;
}

.icon-mobile-menu {
  opacity: 1;
  pointer-events: initial;
  fill: #000000;
}

@media screen and (min-width: 767.98px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu {
  background: #ffffff;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  width: 100%;
  height: 100vh;
  transition: right 0.5s;
}

.mobile-menu.is-open {
  right: 0;
}

.mobile-menu__nav-item {
  list-style: none;
}

.mobile-menu__nav-item:not(:last-child) {
  padding-bottom: 32px;
}

.mobile-menu__nav-links {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
}

.current-mobile {
  color: #2196f3;
}

.mobile-menu__contacts {
  margin-top: 302px;
}

.mobile-menu__contacts-item {
  list-style: none;
}

.mobile-menu__contacts-item:first-child {
  padding-bottom: 32px;
}

.mobile-menu__phone {
  text-decoration: none;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__mail {
  text-decoration: none;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social-list {
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.mobile-menu__social-item:last-child {
  border-right: none;
}

.mobile-menu__social-item {
  list-style: none;
  padding-left: 10px;
  border-right: 1px solid #757575;
  border-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-item:not(:last-child) {
  padding-right: 10px;
}

.mobile-menu__soc-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 00.02em;
  color: #2196f3;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .mobile-menu {
    height: 100vh;
    overflow: auto;
  }
}
/*# sourceMappingURL=main.css.map */