$hover-color: #2196f3;
$main-text-color: #757575;
$footer-mail-phone-color: rgba(255, 255, 255, 0.6);
$main-bg-color: #ffffff;
$h1-h2-h3-color: #212121;
$logo-header-color: #000000;
$banner-footer-bg-color: #2f303a;
$buttons-bg-color: #f5f4fa;
$body-bg-color: #e5e5e5;
$make-an-order-hover-color: #188ce8;
$header-border-color: #ececec;
$border-description-color: #eeeeee;
$roboto-family: 'Roboto', sans-serif;
$raleway-family: 'Raleway', sans-serif;
:root {
  --grid-item: 3;
}
