.banner__button {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
