.clients-list-item__logo {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-item__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  &:hover .clients-list-item__logo,
  &:focus .clients-list-item__logo {
    fill: $hover-color;
  }
}
