.footer_information--position {
  display: flex;
  flex-direction: column;
  flex-basis: calc((50% - 45px) / 2);
}
.footer__address {
  color: $main-bg-color;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 9px;
}
.footer__exact-address {
  margin-bottom: 9px;
}
.footer__logo {
  color: $main-bg-color;
  margin-bottom: 20px;
}
.logo__web-logo {
  color: $hover-color;
}
.footer__mail {
  font-style: normal;
  text-decoration: none;
  color: $footer-mail-phone-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__phone {
  font-style: normal;
  text-decoration: none;
  color: $footer-mail-phone-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__list-item {
  list-style: none;
  &:first-child {
    margin-bottom: 9px;
  }
}
.footer__list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 450px) and (max-width: 1199.98px) {
  .footer__logo {
    margin-right: auto;
    margin-left: auto;
  }
  .footer__list {
    padding-left: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__exact-address {
    white-space: nowrap;
  }
  .footer_information--position {
    margin-right: 165px;
  }
}
@media screen and (min-width: 0px) and (max-width: 449.98px) {
  .footer__logo {
    margin-right: auto;
    margin-left: auto;
  }
  .footer__list {
    padding-left: 40px;
  }
}
