.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $h1-h2-h3-color;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: center;
}
.our-team__description {
  background: $main-bg-color;
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team__duty {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}
